.resume-panel
    min-height: 100%
    .user
        &-panel
            padding: 5%
            img
                height: 10%px
                width: auto
            h2
                font-size: 3.5rem
        &-education-panel

    .work-panel
        .skill-panel
        .job
            &-panel
            &-info
                
