.nav-links
    margin: 20px 5px 0px 0px
    display: flex
    flex-direction: row
    justify-content: flex-end
    background-color: #1a1a54
    padding: 4px 0
    img
        height: auto
        width: 40px
    a
        margin: 0 20px 
        font-size: 1.5rem
        color: white
        text-decoration: none
        &:hover
            text-decoration: none
