@import "styles/colors"

.nav-links
    margin: 0px 5px 0px 0px
    position: sticky
    top: 0
    display: flex
    flex-direction: row
    justify-content: flex-end
    background-color: #1a1a54
    padding: 20px 0
    img
        height: auto
        width: 40px
    a
        margin: 0 20px 
        font-size: 1.5rem
        color: white
        text-decoration: none
        &:hover
            text-decoration: none

@media(max-width: 425px) 
    .nav-links
        position: relative
        display: flex
        flex-direction: column
        .social-links
            order: 2
            margin: 20px 0 10px 0
        .page-links
            order: 1
            display: flex
            flex-direction: column
            padding: 0 40px 
            a
                margin: 10px auto
                border-bottom: 2px solid $accent-color


