@media (min-width: 1024px) {
  .social-links {
    display: none;
  }
  .page-links {
    display: flex;
  }
}

@media (max-width: 375px) {
  .social-links {
    display: flex;
  }
  .page-links {
    display: none;
  }
}
