@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


#app,
html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1a1a54;
  font-family: 'Lexend Deca', sans-serif;
}

.icon {
  height: 25px;
  width: 25px;
}

.macro-item{
  min-width: 60%;
}

.sticky-all {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
}
